* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
.login {
  width: 400px;
  height: 420px;
  background-color: #ddd;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  transform: translate(0, 150px);
}
.login #name,#pass {
  width: 85%;
  margin: 4px 25px;
  padding: 10px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}
label {
  margin-left: 25px;
}
#button {
  width: 85%;
  margin: 22px 25px;
  padding: 12px 20px;
  background-color: #4caf50;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}
#button:hover {
  background-color: #45a049;
}
p {
  font-size: 0.8rem;
  text-align: center;
  margin: 30px 0px;
}
p a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #2facc2;
}
a:hover {
  color: blue;
}
#forget {
  font-size: 0.8rem;
  position: relative;
  bottom: 6px;
  margin-left: 225px;
  text-decoration: none;
  color: #2facc2;
}
#fotger:hover {
  color: blue;
}
