<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="../assets/002-planting.png"><title>Contact Us</title>
</head>
<body>
	<fieldset>
	<table align="center" width="100%">
	<tr height="50px">
		<td width="50px">
			<img src="../assets/002-planting.png" width="100px" height="70px">
			</td>

			<td align="right">
			<a href="home.html">Home</a> |
			<a href="#">Contact Us</a> |
			<a href="about.html">About</a> |
			<a href="login.html">Login</a> |
			<a href="registration.html">Registration</a>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<hr>
	<table align="center">
		<tr height="400px">
			<td>
				Address: 40/1, Uttra, Dhaka 1229, Bangladesh <br>Mobile: 01617466316 <br
				>Email : habibur@gmail.com<br>Web: www.agrizon.com<br>Facebook: www.facebook/agrizon
			</td>
		</tr>
	</table>
	<hr>
	<p align="center">Copyright &copy 2017</p>
    </div>
	</fieldset>
	
</body>
</html>