<!DOCTYPE html>
<html>
<head>
	<title>Delivery Product</title>
</head>
<body>
	<table border="2" width="50%" cellpadding="1" cellspacing="0">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Place</th>
		</tr>
		<tr>
			<td>Potatos</td>
			<td>460</td>
			<td>Banani, House #02, Road # 7/A,Dhaka 1209</td>
		</tr>
		<tr>
			<td>Bannana</td>
			<td>250</td>
			<td>Gulshan, House #5, Road # 14/A, Dhaka 1209</td>
		</tr>
		<tr>
			<td>pumpkin</td>
			<td>700</td>
			<td>Badda, House #02, Road # 10/A, Dhaka 1209</td>
		</tr>
		<tr>
			<td>Cucumber</td>
			<td>850</td>
			<td>Narayongonj, House #03, Road # 9/A, Dhaka 1209</td>
		</tr>
	</table>
	<a href="../dashboard.php">back</a>
</body>
</html>