<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="icon" href="../assets/002-planting.png"><title>Home Page</title>
</head>
<body>
	<fieldset>
	
	<table align="center" width="100%">
		<tr height="50px">
			<td width="50px">
				<img src="../assets/002-planting.png" width="100px" height="70px">
			</td>

			<td align="right">
			<a href="#">Home</a> |
			<a href="contact.html">Contact Us</a> |
			<a href="about.html">About</a> |
			<a href="login.html">Login</a> |
			<a href="registration.html">Registration</a>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<hr>
	<table>
		<tr height="400px">
			<td colspan="2"><h2>Welcome to our Agriculture System</h2></td>
		</tr>
	</table>
	<hr>
	<p align="center">Copyright &copy 2017</p>
	</div>
	</fieldset>
</body>
</html>