<!DOCTYPE html>
<html>
<head>
	<title>Buyer Order list</title>
</head>
<body>
	<table border="1" width="50%" cellpadding="2" cellspacing="0">
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Organizations</th>
		</tr>
		<tr>
			<td><a href="#">milk</a></td>
			<td><a href="#">900</a></td>
			<td><a href="#">milk-vita Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">Sunflower</a></td>
			<td><a href="#">500</a></td>
			<td><a href="#">Modina Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">carrot</a></td>
			<td><a href="#">700</a></td>
			<td><a href="#">Pran Agro Farms</a></td>
		</tr>
		<tr>
			<td><a href="#">Tamarind</a></td>
			<td><a href="#">250</a></td>
			<td><a href="#">pran Agro Farms</a></td>
		</tr>
	</table>
	<a href="../dashboard.php">back</a>
</body>
</html>