<!DOCTYPE html>
<html>

<head>
	<link rel="icon" href="images/002-planting.png" />
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="reg.css" />
	<script type="text/javascript" src="script.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
	<div id="regMsg" style="display: none"></div>
	<div class="reg">
		<form method="POST" onsubmit="return regValidation()">
			<h1>Registration</h1>

			<input id="name" type="text" name="name" placeholder="Name..." /><br />
			<label id="lname" style="color: red; font-size: 0.8rem"></label><br />
			<input id="username" type="text" name="username" placeholder="username..." /><br />
			<label id="luser" style="color: red; font-size: 0.8rem"></label><br />
			<input id="email" type="email" name="email" placeholder="Email..." /><br />
			<label id="lemail" style="color: red; font-size: 0.8rem"></label><br />
			<input id="password" type="password" name="password" placeholder="Password..." /><br />
			<label id="lpassword" style="color: red; font-size: 0.8rem"></label><br />
			<input id="repass" type="password" name="repass" placeholder="Confirm-Password..." /><br />
			<div class="category" id="category">
				Type:
				<input type="radio" name="category" value="farmer" />Farmer
				<input type="radio" name="category" value="buyer" />Buyer
				<input type="radio" name="category" value="worker" />Worker<br />
			</div>
			<label id="lradio" style="color: red; font-size: 0.8rem"></label><br />
			<div id="check">
				<input type="checkbox" name="terms" value="check" id="checkbox" />
				Accepts the terms and condition
			</div>
			<label id="lcheck" style="color: red; font-size: 0.8rem"></label><br />
			<input id="button" type="submit" name="submit" value="Sign Up" />
		</form>
		<p>
			Already have an account?<a id="sign" href="login.php">logIn here</a>
		</p>
	</div>

	<script type="text/javascript">
		const name = document.getElementById('name');
		const username = document.getElementById('username');
		const email = document.getElementById('email');
		const password = document.getElementById('password');
		const repass = document.getElementById('repass');
		const lname = document.getElementById('lname');
		const luser = document.getElementById('luser');
		const lemail = document.getElementById('lemail');
		const lpassword = document.getElementById('lpassword');

		name.onfocus = function () {
			lname.innerText = '';
			name.style.border = 'none';
		};

		username.onfocus = function () {
			luser.innerHTML = '';
			username.style.border = 'none';
		};
		email.onfocus = function () {
			lemail.innerHTML = '';
			email.style.border = 'none';
		};
		password.onfocus = function () {
			lpassword.innerHTML = '';
			password.style.border = 'none';
		};
		repass.onfocus = function () {
			repass.style.border = 'none';
		};
	</script>
</body>

</html>