<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="../assets/002-planting.png"><title>Registration</title>
</head>
<body>

	<fieldset>
		
	<table align="center" width="100%">
		<tr height="60px">
			<td width="50px">
				<img src="../assets/002-planting.png" width="100px" height="70px">
			</td>

			<td align="right">
			<a href="home.html">Home</a> |
			<a href="contact.html">Contact Us</a> |
			<a href="about.html">About</a> |
			<a href="login.html">Login</a> |
			<a href="registration.html">Registration</a>
			</td>
		</tr>
	</table>
	<hr>
	<div>
	<form method="post" action="../controller/regCheck.php">
		<fieldset>
			<legend >REGISTRATION</legend>
			<table>
				<tr>
					<td width="150px">Name </td>
					<td><input type="text" name="name" value="" pattern="[A-Za-z0-9 ]{3,64}" title="must contain at least three (3) characters and alpha numeric characters and space are allow" required="" ></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username" value="" pattern="[A-Za-z0-9._ ]{3,64}" title="must contain at least three (3) characters and alpha numeric characters, period, dash or underscore allow" required=""></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" name="email" value="" required=""></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#,@,%,$,]).{8,}" title="must not be less than eight (8) characters and must contain at least one of the special characters (@, #, $, %)" required=""></td>
				</tr>
				<tr>
					<td>Re-type password</td>
					<td><input type="password" name="repass" value="" required=""></td>
				</tr>

			</table>
			<br>
			<table>
				<tr>
					Category:
					<input type="radio" name="category" value="farmer" required="">Farmer
					<input type="radio" name="category" value="buyer">Buyer
					<input type="radio" name="category" value="worker">Worker
				
				</tr>
			</table>
			<hr>
			</table>
					<table>
						<tr>
							<td><input type="submit" name="submit" value="Sign Up"></td>
<!-- 							<td>Already habe an account? <a href="login.html">Login</a> here</td> -->
						</tr>
						<tr height="40px">
							<td>Already have an account? <a href="login.html">Login</a> here</td>
						</tr>
				</table>
	</form>
	<br>
	<hr>
	
	<p align="center">Copyright &copy 2017</p>
	</fieldset>
	
</body>
</html>